name: Continuous Integrations

on: push

jobs:
  continuous_integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Using Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: run install, build and test
        working-directory: backend
        run: |
            npm install
            npm run test
